.content {
  width: 984px;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .content {
    width: 768px;
  }

  }


@media screen and (max-width: 767px) {
  .content {
    width: 320px;
  }
}

