.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.header__title {
  max-width: 720px;
  height: 200px;


  font-family: "Inter";
  font-size: 96px;
  font-weight: 900;
  text-align: center;

  margin: 91.06px auto 32px;
}

.header__subtitle {
  max-width: 720px;
  height: 72px;

  font-family: "Inter";
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;

  text-align: center;
  margin: 0 auto 64px;

}

.header__image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .header__title {
    max-width: 530px;
    height: 158px;

    font-size: 75px;
    line-height: 79px;

    margin: 90px auto 25px;
  }

  .header__subtitle {
    max-width: 720px;
    height: 72px;

    font-size: 30px;
    line-height: 36px;

    margin: 0 auto 30px;

  }
}

@media screen and (max-width: 767px) {
  .header__title {
    max-width: 228px;
    height: 88px;

    font-size: 40px;
    line-height: 44px;

    margin: 50px auto 16px;
  }

  .header__subtitle {
    max-width: 288px;
    height: 40px;

    font-size: 16px;
    line-height: 20px;

    margin: 0 auto 40px;
  }
}