.intro {
  position: relative;
  display: flex;
  flex-direction: column;

  max-width: 984px;
  margin: 0 auto;
}

.intro__title {
  max-width: 830px;

  font-family: Inter;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;

  margin-top: 92px;
}

.intro__quote-text {
  max-width: 738px;

  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  margin-top: 40.08px;
}

.intro__quote-author {
  max-width: 732px;

  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  margin-top: 9.56px;
  text-align: end;
}

.intro__text {
  max-width: 722px;

  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 26.08px;

  margin-top: 32.53px;
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    align-items: center;
    margin: 0 auto;
  }

  .intro__title {
    max-width: 707px;

    font-size: 45px;
    line-height: 49px;

    margin-top: 90px;
  }

  .intro__quote-text {
    max-width: 720px;

    font-size: 24px;
    line-height: 34px;

    margin-top: 50px;
  }

  .intro__quote-author {
    max-width: 720px;

    margin-top: 0;
    align-self: flex-end;
  }

  .intro__text {
    max-width: 720px;

    margin-top: 32px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    align-items: center;
    margin: 0 auto;
  }

  .intro__title {
    max-width: 288px;

    font-size: 32px;
    line-height: 35px;

    margin-top: 64px;
  }

  .intro__quote-text {
    max-width: 288px;

    line-height: 30px;
    margin-top: 40px;
  }

  .intro__quote-author {
    max-width: 288px;
    height: 34px;
    align-self: flex-end;
    margin-top: 10px;
  }

  .intro__text {
    max-width: 288px;

    margin-top: 32px;
  }
}
