.logo {
  margin: 34px auto 0;
  max-width: 254.84px;
}

@media screen and (max-width: 768px) {
  .logo {
    max-width: 254px;
  }
}

@media screen and (max-width: 320px) {
  .logo {
    max-width: 188px;
  }
}
